.navbar-item {
    .svg-inline--fa {
        height: 1.3em;
        vertical-align: -0.25em;
        color: inherit !important;
    }
}

.fa-twitter {
    color: #1da1f2;
}

.fa-youtube {
    color: #f23620;
}

.fa-soundcloud {
	color: #ff5500;
}